<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">
        <div id="header">Transformer Visualizer</div>
        <div id="input">
            <form action="/submit" method="post">
                <input type="text" name="text" placeholder="Enter your text here" />
                <button type="submit"> Enter </button>
            </form>

        </div>
    </div>
</body>

</html>