<div class="vector">
    <div class="vector-item">1.352</div>
    <div class="vector-item">2.786</div>
    <div class="vector-item">5.987</div>
    <div class="vector-item">2.641</div>
    <div class="vector-item">3.231</div>
    <div class="vector-item">...</div>
    <div class="vector-item">3.245</div>
</div>